<h1>Pagina de productos</h1>
<br/>
{{#if totalDocs}}
    <div>
        Listado de productos
        <ul>
        {{#each payload}}
            <li>{{this.title}} - Precio: {{this.price}}</li>
            <button onclick="addToCart(`{{this._id}}`)">Agregar al carrito</button>
            <hr>
        {{/each}}
        </ul>
    </div>
    <div>
        {{#if hasPrevPage}}
            <a href={{prevLink}}>Anterior</a>
        {{/if}}

        {{page}}

        {{#if hasNextPage}}
            <a href={{nextLink}}>Siguiente</a>
        {{/if}}
    </div>
{{else}}
    <p>no hay productos</p>
{{/if}}

<script src="js/products.js"></script>